*{
  margin: 0px;
  padding: 0px;
}
.App {
  text-align: center;
}

.MainNav {
    display: flex;
    justify-content: center;
    background-color: aquamarine;
    align-items: center;
    height: 50px;
}
.MainNav ul {
  display: flex;
}
.MainNav li {
  list-style: none;
  text-decoration: none;
  color: black;
}
.MainNav a {
  text-decoration: none;
  color: black;
  padding: 0px 15px;
}


